annotated-types
anyio
bcrypt
certifi
charset-normalizer
click
exceptiongroup
fastapi
greenlet
gTTS
h11
httptools
idna
Jinja2
MarkupSafe
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
sniffio
sqladmin
SQLAlchemy
starlette
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
WTForms
itsdangerous
python-jose
a2wsgi
googletrans==4.0.0rc1
