annotated-types
anyio
bcrypt
certifi
charset-normalizer
click
et_xmlfile
exceptiongroup
fastapi
greenlet
gTTS
h11
httptools
idna
Jinja2
MarkupSafe
numpy
openpyxl
pandas
pydantic
pydantic_core
PyJWT
pypdf
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
sniffio
sqladmin
SQLAlchemy
starlette
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
websockets
WTForms
itsdangerous
python-jose
a2wsgi
